@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
}

@theme {
  --color-cream: #EEE5D2;
  --color-brand-green: #0C5621;
  --color-brand-gold: #FAC562;
  --color-olive: #BABF4E;
  --color-coral: #E76F66;
  --color-light-blue: #6DA0DA;
  --color-light-olive: #CFCD7B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
